<div class="d-flex flex-column p-3">
    <h3 class="large-italic-text">Welcome to my Reactive CRUD Angular 16 project!</h3>
    <p><strong>What can you find here?</strong></p>
    <ol>
        <li>routing with lazy loading, 
            CanActivate & CanDeactivate guards;</li>
        <li>angular-in-memory-web-api to mock backend;</li>
        <li>rxjs for reactive CRUD operations with async pipe 
            and minimal subscribes;</li>
        <li>vanila scss for styling;</li>
        <li>reactive forms with default & custom validations;</li>
    </ol>
    <p>For sure, there is a lot of room for 
        improvement, but this project is mainly designed for
        reactive CRUD operations. 
    </p>
    <p>Thank you, happy coding!</p>
</div>
