<div class="edit-form-container d-flex flex-column justify-center">
  <p class="large-italic-text">Just for fun</p>
  <p>I have added a CanDeactivate guard on this page.</p>
  <div 
    *ngIf="dream$ | async" 
    class="edit-dream-section"
  >
    <form 
      [formGroup]="editDreamForm"
      class="d-flex flex-column p-1"
      (ngSubmit)="onSubmitEditDreamForm()"
      >
      <h3>EDIT DREAM</h3>
      <label for="nameInput">
        <span>Name: </span>
        <input 
          formControlName="nameInput" 
          #nameInput
          [ngClass]="{'red-outline': editDreamForm.controls['nameInput'].invalid && editDreamForm.controls['nameInput'].touched}"
        />
      </label>
      <label for="descriptionInput">
        <span>
          Description:
        </span>
        <input 
          formControlName="descriptionInput" 
          #descriptionInput 
          [ngClass]="{'red-outline': editDreamForm.controls['descriptionInput'].invalid && editDreamForm.controls['descriptionInput'].touched}"
        />
      </label>
      <label for="ratingInput">
        <span>Rating: </span>
        <input 
          formControlName="ratingInput" 
          #ratingInput
          [ngClass]="{'red-outline': editDreamForm.controls['ratingInput'].invalid && editDreamForm.controls['ratingInput'].touched}"
        />
      </label>
      <div class="btns-section">
        <button type="submit" [disabled]="editDreamForm.invalid">SAVE</button>
      </div>
    </form>
  </div>
</div>
